.DS_Store
.env
*.swp
*.swo

.vscode/
.idea/

# Node
node_modules/
dist/
frontend/dist/
frontend/node_modules/

#Lockfiles
frontend/package-lock.json

#Backend stuff
*.exe
*.dll
*.so
*.test
*.out
*.log
coverage.*
*.coverprofile
profile.cov

go.work
go.work.sum
