<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Shadro Login</title>
        <meta name="description" content="Web app to create and share GLSL shader programs on the browser.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <body style="background-color: #212121;">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1 style="color:white">
            Login
        </h1>  
        <form action="/login" method="POST">
            <label for="name">Username: </label><br>
            <input type="text" id="name" name="name"><br>
            <label for="password">Password: </label><br>
            <input type="text" id="password" name="password"><br>
            <input type="submit" value="submit">
        </form>
        <script src="" async defer></script>
    </body>
</html>